* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* styling of navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem !important;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none !important;
  color: #000 !important;
}

.nav-logo span {
  color: #0070f3;
  font-size: 32px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.nav-links li {
  padding: 0rem 1rem;
  list-style: none;
}

.nav-links li:hover {
  opacity: 0.7;
  border-bottom: 3px solid #0070f3;
}
